@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300&family=Raleway:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.header{
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header .header-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 2%;
}

.header i{
    color: gray;
    font-size: 20px;
    cursor: pointer;
}

.u-clearfix{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('./Images/background-1.jpg');
    background-position: 50% 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


.clearfix-child{
    color: #fff;
    margin: auto;
    padding-top: 15rem;
    display: flex;
    justify-content: space-around;
}

.clearfix-child h1{
    font-size: 4.5rem;
    font-weight: 700;
}

.first-child{
    display: flex;
    flex-direction: column;
}

.first-child p{
    font-size: 2.25rem;
}

.first-child span{
    margin-top: 2rem;
}

.clearfix-href{
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-weight: 500;
    color: #fff;
    font-size: 13px;
    margin-top: 2rem;
}

.clearfix-href:hover{
    color: #fff;
}

.clearfix-img{
    width: 734px;
    height: 706px;
    
    top: 10rem;
    right: 5rem;
}

.clearfix-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


@media (max-width: 1199px){

    .clearfix-img{
        width: 604px;
        height: 653px;
    }

    .clearfix-child h1{
        font-size: 4rem;
        font-weight: 600;
    }

}

@media (max-width: 991px){
    .clearfix-img{
        width: 464px;
        height: 706px;
        margin-top: -10rem;
        margin-left: 5rem;
        margin-bottom: 5rem;
    }

    .first-child{
        width: 50%;
    }

    .clearfix-child h1{
        font-size: 3rem;
    }

}

@media (max-width: 767px){
    .clearfix-child{
        display: flex;
        justify-content: center;
        padding-bottom: 5rem;
    }
    .first-child{
        margin-left: 5rem;
    }

    .clearfix-child h1{
        font-size: 3rem;
        font-weight: 600;
    }

    .first-child p{
        font-size: 1.5rem;
    }


    .clearfix-img{
        width: 300px;
        height: 500px;
        margin-top: -10rem;
        margin-left: 5rem;
        margin-bottom: 5rem;
    }
}



.inspiration-tech{
    width: 100%;
    background: #43005d;
}

.inspirate-child{
    display: flex;
    justify-content: space-around;
    color: #fff;
    max-width: 90%;
    margin: 0 auto;
}

.inspirate-images>img:nth-child(1){
    height: 619px;
    width: 512px;
    margin: -148px auto 0 0;
    object-fit: cover;
}
.inspirate-images>img:nth-child(2){
    width: 284px;
    height: 284px;
    margin: 212px auto -72px -150px;
    z-index: 1;
}

.inspire-text{
    display: flex;
    flex-direction: column;
    color: #fff;
}

.inspire-text>p:nth-child(1){
    font-size: 8rem;
    font-weight: 300;
}

.inspire-text h3{
    color: #f70647;
    font-size: 3rem;
    font-weight: 700;
}

.inspire-text>p:nth-child(3){
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6;
}

.inspirate-child-2{
    display: flex;
 
    align-items: center;
}
.inspate-text2{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.inspire-images-2{
    flex: 1;
}

.inspire-images-2>img:nth-child(1){
    margin: auto -10px -300px 330px;
}

.inspire-images-2>img:nth-child(2){
    width: 568px;
    height: 634px;
    z-index: 3;
}

.untitle-3{
    margin-top: -150px;
    margin-bottom: -200px;
}

.untitle-3 img{
    width: 325px;
    height: 483px;
    object-fit: contain;
}

.dots{
    margin-bottom: -70px;
    margin-top: -160px;
    margin-right: -50px;
    margin-left: 50px;
}


@media (max-width: 1199px){
    .inspirate-images>img:nth-child(1){
        height: 543px;
        width: 442px;
        
    }


    .inspirate-images>img:nth-child(2){
        width: 234px;
        height: 234px;
        margin: -100px auto -72px 250px;
        
    }

    .inspire-text{
        width: 50%;
        max-width: 70%;
    }

    .inspire-text>p:nth-child(1){
        font-size: 6rem;
        font-weight: 300;
    }
    
    .inspire-text h3{
        color: #f70647;
        font-size: 2rem;
        font-weight: 700;
    }
    
    .inspire-text>p:nth-child(3){
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6;
    }
    
    .inspate-text2{
        width: 60%;
        max-width: 80%;
    }

    .inspire-images-2>img:nth-child(1){
        margin: auto -10px -300px 330px;
    }
    
    .inspire-images-2>img:nth-child(2){
        width: 468px;
        height: 534px;
        z-index: 3;
        margin-right: -20px;
        margin-left: 160px;
    }

    .dots img{
        width: 700px;
        height: 200px;
        object-fit: contain;
    }


}
@media (max-width: 991px){
    .inspirate-images>img:nth-child(1){
        width: 375px;
        height: 448px;
        margin-left: -4rem;
    }


  .inspirate-images>img:nth-child(2){
        margin-right: -2rem;
        margin-left: -0.3rem;
        width: 200px;
        height: 200px;
    }


    .inspire-text{
        margin-right: -4rem;
    }
    
    .inspire-text h3{
        color: #f70647;
        font-size: 1.8rem;
        font-weight: 700;
    }
    
    .inspire-text>p:nth-child(3){
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
    }

}


@media (max-width: 767px){
    .inspirate-child{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .inspirate-images>img:nth-child(2){
       margin-top: 5rem;
       margin-left: -5rem;
    }

    .inspire-text{
        width: 100%;
    }
    
    .inspire-text>p:nth-child(1){
        font-size: 8rem;
        font-weight: 300;
    }
    
    .inspire-text h3{
        color: #f70647;
        font-size: 3rem;
        font-weight: 700;
    }
    
    .inspire-text>p:nth-child(3){
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6;
    }

    .inspirate-child-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8rem;
    }

    .inspire-images-2>img:nth-child(2){
        width: 300px;
        height: 400px;
        z-index: 3;
        margin-right: -20px;
        margin-left: 160px;
    }
}



.number-counters{
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.number-counters h2{
    text-align: center;
    font-size: 3rem;
    color: #43005d;
    font-weight: 700;
}

.count-containers{
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8rem;
    justify-content: center;
}

.count-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count-box h3{
    font-size: 4rem;
    color: #f70647;
    font-weight: 700;
}

.count-box p{
    color: #43005d;
    font-weight: 600;
    font-size: 16px;
}

@media (max-width: 767px){
    .count-containers{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.dream-active{
    background-image: linear-gradient(0deg, rgba(67,0,93,0.7), rgba(67,0,93,0.7)), url("./Images/dream-active.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2rem;
    width: 100%;
}
.dream-container{
    padding: 5rem 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dream-container h2{
    font-size: 4.5rem;
    font-weight: 600;
    color: #f70647;
}

.dream-container p{
    color: #fff;
    font-size: 20px;
}

.dream-container form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dream-container input{
    background: transparent;
    border: 3px solid #f70647;
    width: 300px;
    height: 40px;
    padding: 0.5rem 1rem;
}

.dream-container textarea{
    background: transparent;
    border: 3px solid #f70647;
    padding: 0.5rem 1rem;
}

.active-btn button{
    border: none;
    background: #f70647;
    color: #fff;
    padding: 0.3rem 1rem;
    font-weight: 600;
}


@media (max-width: 991px){
    .dream-container .dream-title{
        width: 300px;
        margin: 0 auto;
    }
    .dream-container h2{
        font-size: 3rem;
    }

    .dream-container p{
        font-size: 15px;
    }
}

@media (max-width: 767px){
    .dream-container{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .dream-container .dream-title{
        width: 70%;
        margin: 0 auto;
    }

    .dream-container h2{
        font-size: 4rem;
    }

    .dream-container p{
        font-size: 20px;
    }

    .dream-container input{
        background: transparent;
        border: 3px solid #f70647;
        width: 400px;
        height: 40px;
        padding: 0.5rem 1rem;
    }
    
    .dream-container textarea{
        background: transparent;
        border: 3px solid #f70647;
        padding: 0.5rem 1rem;
    }


}

@media (max-width: 575px){
    .dream-container h2{
        font-size: 2.25rem;
    }

    .dream-container h2 br{
        display: none;
    }
    
     .dream-container .dream-title{
        width: 60%;
        max-width: 95%;
    }

    .dream-container p{
        font-size: 15px;
    }

    .dream-container input{
        background: transparent;
        border: 3px solid #f70647;
        width: 300px;
        height: 40px;
        padding: 0.5rem 1rem;
    }
    
    .dream-container textarea{
        width: 300px;
    }
}

.grids{
    width: 100%;
}

.grid-cont .first{
    background-image: url('./Images/grcell2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.grid-cont .second-box{
    background: #43005d;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    gap: 1rem;
}

.second-box>p:nth-child(1){
    font-size: 7rem;
    color: #fff;
    font-weight: 300;
}

.second-box h3{
    font-size: 3.25rem;
    color: #f70647;
    font-weight: 700;
    letter-spacing: -1px;
}

.second-box>p:nth-child(3){
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.grid-cont .third-box{
    background-image: url('./Images/phone6.jpg');
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 3rem 2.5rem;
}

.third-box h3{
    font-size: 3rem;
    color: #f70647;
    font-weight: 700;
}

.third-box p{
    font-size: 20px;
}

@media (max-width: 991px){
    .grid-cont h3{
        font-size: 1.875rem;
    }

    .grid-cont p{
        font-size: 18px;
    }

    .second-box>p:nth-child(3){
        font-size: 15px;
        font-weight: 400;
    }
}

@media (max-width: 767px){
    .grid-cont{
        display: flex;
        flex-direction: column;
    }
    .grid-cont div{
        width: 100%;
    }
}


.grid-cont .forth-box{
    background-image: url('./Images/Untitledd-5.jpg');
    height: 650px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.get-app{
    background-image: url('./Images/xc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: 50% 50%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.get-app h3{
    font-size: 3rem;
    color: #f70647;
    font-weight: 700;
}

.get-app .text-app{
    width: 500px;
    font-size: 1.125rem;
    color: #e2a8f8;
    text-align: center;
    line-height: 1.6;
    font-weight: 400;
    max-width: 90%;
}